@use 'variables';

.cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

  &__cadastrar {
    background-color: variables.$color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 5px;

    &__form {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 600px;

      &__bloco {
        width: 18rem;
        text-align: center;

        &--radio {
          max-width: 1rem;
          margin-top: 1rem;
        }

        &--labelRadio {
          font-size: 12px;
          color: variables.$color-primary;
          margin-right: 5px;
        }

        &--senha {
          font-size: 12px;
          color: variables.$color-dark;
        }
      }

      &--button {
        width: 18rem;
      }

    }

    &__sub {
      display: flex;
      margin-top: 0.5rem;

      &--text {
        color: variables.$color-dark;
        font-size: 12px;
      }

      &--link {
        color: variables.$color-primary;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}