.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.home__acessar {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 5px;
}
.home__acessar__form {
  width: 20rem;
}
.home__acessar__form #eyePassword {
  cursor: pointer;
  width: 2rem;
  fill: #174DBA;
  margin: 0.313rem 0rem 0.313rem 0.313rem;
  border-radius: 0.313rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
  background-color: #174DBA;
}
.home__acessar__form__key {
  display: flex;
}
.home__acessar__sub {
  display: flex;
  margin-top: 0.5rem;
}
.home__acessar__sub__text {
  color: #505050;
  font-size: 12px;
}
.home__acessar__sub__link {
  color: #174DBA;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

.cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.cadastro__cadastrar {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 5px;
}
.cadastro__cadastrar__form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 600px;
}
.cadastro__cadastrar__form__bloco {
  width: 18rem;
  text-align: center;
}
.cadastro__cadastrar__form__bloco__radio {
  max-width: 1rem;
  margin-top: 1rem;
}
.cadastro__cadastrar__form__bloco__labelRadio {
  font-size: 12px;
  color: #174DBA;
  margin-right: 5px;
}
.cadastro__cadastrar__form__bloco__senha {
  font-size: 12px;
  color: #505050;
}
.cadastro__cadastrar__form__button {
  width: 18rem;
}
.cadastro__cadastrar__sub {
  display: flex;
  margin-top: 0.5rem;
}
.cadastro__cadastrar__sub__text {
  color: #505050;
  font-size: 12px;
}
.cadastro__cadastrar__sub__-link {
  color: #174DBA;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

#usuarios {
  display: none;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading__user {
  animation: loadRotate 1s infinite;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 6px solid #FFFFFF;
  border-top-color: #174DBA;
}
@keyframes loadRotate {
  0% {
    transform: rotate(360deg);
  }
}

.usuarios {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.usuarios__admUsuarios {
  width: 50rem;
}
.usuarios__admUsuarios__text {
  font-size: 32px;
  display: inline-block;
}
.usuarios__admUsuarios__card {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
  grid-gap: 25px;
}
.usuarios__admUsuarios__card__form {
  background-color: white;
  border-radius: 10px;
  height: 11rem;
}
.usuarios__admUsuarios__card__form__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.usuarios__admUsuarios__card__form__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.usuarios__admUsuarios__card__form__info__img {
  border-radius: 100%;
  background-color: #EFF0F3;
  box-sizing: border-box;
}
.usuarios__admUsuarios__card__form__info__img #imgAvatar {
  width: 60px;
  border-radius: 50%;
}
.usuarios__admUsuarios__card__form__info__text {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}
.usuarios__admUsuarios__card__form__info__subText {
  color: #505050;
  font-size: 12px;
}
.usuarios__admUsuarios__indice {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 15px;
  width: 100%;
}
.usuarios__admUsuarios__indice__text {
  color: #505050;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

body {
  background-color: #EFF0F3;
}
body header {
  background-color: #174DBA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
@media screen and (max-width: 40rem) {
  body .cadastro {
    overflow: auto;
  }
  body .cadastro__cadastrar__form {
    width: auto;
  }
  body .usuarios {
    overflow: auto;
  }
  body .usuarios__admUsuarios {
    padding: 1rem;
    padding-top: 35rem;
  }
  body .usuarios__admUsuarios__card {
    display: flex;
    flex-direction: column;
  }
}

input,
select {
  border-color: #174DBA;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px;
  width: 100%;
}

input[type=submit] {
  background-color: #174DBA;
  border-color: #174DBA;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FFFFFF;
  color: #174DBA;
  transition: 0.5s;
}

input:focus {
  outline: none !important;
  border-color: #174DBA;
  box-shadow: 0 0 2px #174DBA;
}

select:focus {
  outline: none !important;
  border-color: #174DBA;
  box-shadow: 0 0 2px #174DBA;
}

h1 {
  color: #174DBA;
  font-size: 22px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: #174DBA;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
